@font-face {
	font-family: "Mona Sans";
	src: url("Mona-Sans.woff2");	
}


body {
	font-family: "Mona Sans";
	font-size: 1rem;
}

h1{
	font-size: clamp(5ch, 10vw + 1ch + 1rem, 15ch);
	line-height:1;
}
